body{
    background-image: url(../img/spiritual.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.menu ul{
    height: 45px;
    background: rgba(0, 0, 0, 0.55);
    color: #5A4E62;
    list-style: none;
    text-align: center;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
}
.navbar li{
    display: inline-block;
    font-family:'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 10px 27px 0px 27px;
    
    position: relative;
}
.navbar a{
    text-decoration: none;
    color: #E5C2C0;
    display: block;
}
.navbar a:hover{
   color:  #6FFFE9;
}
.navbar a:before{
   content: '';
   display:block;
    height: 5px;
    background-color: #6FFFE9;
    
    position: relative;
    top: -4px;
    width: 0%;
    
    transition: : all ease-in-out 250ms;
}
.navbar a:hover::before{
    width: 100%;
}

#spiritual{
    height:86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}

#spiritual h1, h2{
    font-family: 'Audiowide', cursive;
    padding: 0px;
    margin: -6px;
}
#spiritual h1{
    font-size: 33px;
    letter-spacing: 1px;
    color: #0B132B;
}
#spiritual h2{
    font-size: 15px;
    letter-spacing: 2px;
    color: #0B132B;
}
#spiritual p{
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #6FFFE9;
    padding: 10px 25.5px 10px 25.5px;
    background-color:#5A4E62;
    margin-top: 25px;
    background: rgba(0, 0, 0, 0.70);
}
.box{
    font-family: 'Poppins', sans-serif;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.70);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
    margin-top: -5%;
}
.box h3{
    margin: 0 0 30px;
    padding: 0;
    color: #6FFFE9;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}

.box .inputBox{
    position: relative;
}
.box .inputBox input{
    width: 100%;
    padding:10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    
}
.box .inputBox label{
    position: absolute;
    top:0;
    left:0;
    letter-spacing: 1px;
    padding:10px 0;
    font-size: 16px;
    color: #6FFFE9;
;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top:-18px;
    left:0;
    color:#03a9f4;
    font-size: 12px;
}
.box input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 9px 20px 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: .5px;
    font-size: 15px;
}
.social{
	text-align:center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: -9%;
}
.social:after{
	content:'';
	display:block;
	clear:both;
}

footer a{
   text-decoration: none;
    display:inline-block;
    padding: 7px;
    width: 25px;
    height: 25px;
    border:solid #6FFFE9;
    border-width: 1.5px;
    background: rgba(0, 0, 0, 0.70);
    border-radius: 50%;
    margin: 5px;
}
footer .fa{
    color:#6FFFE9;
    font-size:22px;
    margin: 0px;
}

footer a:hover{
    background: #03a9f4;
    border-color: #03a9f4;
}
footer a:hover .fa{
    color:#fff;
}






